:root {
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --neutral-v-pale-vblue: hsl(225, 100%, 98%);
    --neutral-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--primary-pale-blue);
}

h1 {
    text-align: center;
    font-weight: 900;
}

p {
    font-size: 1rem;
}

p, button {
    color: var(--neutral-desaturated-blue);
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color:#fff;
}

.box-text {
    text-align: center;
}

.box-img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.box-music-plan {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--neutral-v-pale-vblue);
    border-radius: 10px;
}

.icon-img, .box-music-plan, .link-music-plan {
    align-self: center;
    justify-self: center;
}

.btn-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 1rem;
}

.btn-payment {
    background-color: var(--primary-bright-blue);
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 1em var(--neutral-dark-blue);
}

.btn-cancel {
    background: transparent;
    border: none;
    font-weight: 700;
}

@media (min-width: 375px) {
    body {
        background-image: url("images/pattern-background-mobile.svg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h1 {
        margin: 2rem 0 1.1rem 0;
    }

    .box {
        width: 20rem;
        height: 33rem;
        /*aspect-ratio: 0.6 / 1;*/
    }
    .box-text {
        margin: 0 2rem;
    }
    .box-music-plan {
        margin: 1rem;
        padding: 1rem 0.4rem;
    }
    .icon-img {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .link-music-plan {
        padding-right: 1rem;
    }
    .btn-box {
        margin: 1rem;
    }

    .btn-payment {
        padding: 1rem;
    }
}

@media (min-width: 1440px) {
    body {
        background-image: url("images/pattern-background-desktop.svg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h1 {
        margin: 2rem 0 0 0;
        font-size: 2rem;

    }

    .box {
        height: 40rem;
        width: 22rem;;
    }

    .box-text {
        margin: 1rem 5rem;
    }

    .box-music-plan {
        margin: 1rem 2rem;
        padding: 1.5rem 0;
    }

    .icon-img {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .link-music-plan {
        padding-right: 1.5rem;
    }

    .btn-box {
        margin: 1rem 2rem 0 2rem;
    }

    .btn-payment {
        padding: 1.2rem;
        font-size: 1.1rem;
        box-shadow: 0 10px 4em var(--neutral-dark-blue);
    }

    .btn-cancel {
        padding: 25px;
        font-weight: 700;
        font-size: 1.1rem;
    }
}